[Unit]
Description=SRM Monitoring Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/srm-monitor-agent
TimeoutStartSec=30
